body {
  background: rgb(2,0,36);
background: linear-gradient(190deg, rgba(2,0,36,1) 0%, rgba(144,25,156,1) 0%, rgba(0,212,255,1) 100%);
}


.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.header {
  position:relative;
  top: 0px;
  max-width: 100%;
    min-width: 300px;
    height: auto;
  transform: scale(0.5);
  background-size: contain;
}

.footer {
  margin-top: 50px;
  
  left: 0;
  bottom: 500;
  width: 100%;
  color: grey;
  text-align: center;
}

.myButton{
    background:url(./images/BUTTON1.png) no-repeat;
    cursor:pointer;
    border:none;
    width:25%;
    height:auto;
}

.myButton:active {
     
}